{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

<div class="container">
    <h1>Bienvenue, voici les reservations pour la place invitée</h1>
    <div data-controller="calendar">
        <div data-calendar-target="calendar"></div>
        <div class="hidden">
            {% for reservation in reservations %}
                <div data-calendar-target="events">
                    <div class="name">{{ reservation.name }}</div>
                    <div class="flatNumber">{{ reservation.flatNumber }}</div>
                    <div class="startDate">{{ reservation.startDate |date('Y-m-d') }}</div>
                    <div class="endDate">{{ reservation.endDate |date('Y-m-d') }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}

