{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

<div class="container mx-auto">
	<a href="/admin" class="my-5 inline-block bg-blue-500 p-3 hover:underline shadow hover:bg-blue-700 text-white rounded">Gérer les réservation</a>
    <h1 class="text-4xl text-center my-10">Bienvenue, voici les reservations pour la place invitée</h1>
    <div data-controller="calendar" class="calendar">
        <div data-calendar-target="calendar"></div>
        <div class="hidden">
            {% for reservation in reservations %}
                <div data-calendar-target="events">
                    <div class="name">{{ reservation.name }}</div>
                    <div class="flatNumber">{{ reservation.flatNumber }}</div>
                    <div class="startDate">{{ reservation.startDate |date('Y-m-d') }}</div>
                    <div class="endDate">{{ reservation.endDate |date('Y-m-d') }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}

